<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="APItests">

    <test name="restapitests" >

        <parameter name="petName" value="Doggie"/>
        <parameter name="petId" value="2"/>
        <parameter name="petName" value="Brownie"/>
        <parameter name="petId" value="3"/>

        <classes  >
            <class name="tests.DeletePetRequest" />
            <class name="tests.GetPetIdRequest" />
            <class name="tests.PutPetRequest" />
            <class name="tests.PostPetRequest"/>
        </classes>
    </test>


</suite>